%p A weboldal  <a href="http://szakdolgozat.csiszarattila.com">egy szakdolgozat</a> működő példánya, kizárólag demonstrációs célokat szolgál, használatáért a készítő semmilyen felelősséget nem vállal.

%h4 Részlet a szakdolgozatból...

%p Az internet egyre bővülő felhasználói tábora legnagyobb hatását a web fejlődésére tette. A kezdetben statikus, technikai leírásokat és dokumentációkat tartalmazó World-Wide-Web mára a feledés homályába veszett, felváltotta a dinamikus tartalmú, felhasználó-központú weboldalak tömege. Az új médium széleskörűbb felhasználást hozott magával: olyan weboldalak jelentek meg – kép - és videómegosztók, közösségi oldalak, webáruházak – amelyeket összetett funkcióik miatt mára web alapú alkalmazásoknak nevezünk.

%p A fejlődés természetesen nagyban hatott az őket működtető rendszerekre is. Ezek kezdetben jól átlátható, egyszerű megoldások voltak, de a komplexebb igények kielégítése túl időigényessé vált velük. Ennek hatására jöttek létre - a hagyományos asztali programfejlesztésből átvéve - a speciálisan webes alkalmazások fejlesztését megkönnyítő  web alapú keretrendszerek.
Ezen keretrendszerek közül emelkedik ki a Ruby on Rails, mely sok tekintetben hozott alapvető szemléletváltozást illetve megközelítést a webalkalmazások fejlesztésébe.
Szakdolgozatommal ezért azt szeretném demonstrálni, hogyan lehet egy web alapúra tervezett alkalmazást - ez a szakdolgozat címében szereplő webáruház - Ruby on Rails keretrendszerben megvalósítani.

%p Miért pont webáruház? - teheti fel a kérdést az olvasó. Valóban manapság sok informatikus hallgató készíti hasonló témából szakdolgozatát, ugyanakkor tény, hogy egyértelműen ez fedi le leginkább a webalkalmazások fejlesztése és tervezése során előforduló összes problémakört; kezdve az adattárolás megszervezését egy adatbázisrendszerben, a felhasználói felületek és folyamatok megtervezését, a felhasználói-feladatkörök kezelését, illetve a biztonságos és helyes működést biztosító tesztelési fázist.

%p A szakdolgozatom első részében a webáruházakkal kapcsolatos általános jellemzőkre keresem majd a választ, néhány konkrét példával illusztrálva, amelyekből megpróbálom leszűrni mik azok a főbb követelmények amelyeket megfogalmazhatunk egy webáruházzal kapcsolatban.

%p A meghatározott jellemzőkből következhet a rendszer-specifikáció elkészítése valamint a tervezési folyamatok elvégzése: a szükséges adatbázisséma(háttér) megtervezése, a felhasználó felületek és folyamatmenetek illusztrálása. Ebben az egységben a hangsúlyt a rendszer-függetlenségre fektetem: fontosnak tartom, hogy az alkalmazás tervei akár más keretrendszerben is nyugodtan megvalósíthatóak legyenek.

%p A kész tervek alapján pedig következhet a webáruház megvalósítása Ruby on Rails környezetben, ahol egy-egy kulcsrészen keresztül szeretném bemutatni, milyen megoldásokat ajánl a keretrendszer a webalkalmazások fejlesztése közben előforduló gyakori problémákra. A fejlesztést végül a tesztelési fázis zárja majd, ahol az elkészült alkalmazás hibamentes működésének biztosításán lesz a hangsúly, gyakorlati módszerekkel.

%p E szakdolgozatnak nem célja és nem is áll módjában, hogy a webáruházak üzleti jelentőségét, vagy gazdasági szerepét részletezze, csupán technikai megvalósítást tartalmaz.
%p &copy; <a href="http://csiszarattila.com">Csiszár Attila</a>, 2008