%table#cart
  %thead
    %tr
      %th Termék
      %th Mennyiség
      %th.price Összár
      %th 
  %tbody.cart-items
    = render :partial => 'cart/cart_item', :collection => @cart.items
  
  %tfoot
    %tr#cart-sum
      %td.sum Összesen
      %td.price#price-sum{ :colspan => "2" }  
        = format_price(@cart.total_price)
      %td
        = link_to 'Kosár kiürítése', empty_cart_path