%table#cart
  %tr
    %th Termék
    %th Mennyiség
    %th.price Összár
    %th Kivétel
  
  = render :partial => 'cart/cart_item', :collection => @cart.items
  
  %tr
    %td.sum{ :colspan => "2" } Összesen
    %td.price#price-sum 
      = format_price(@cart.total_price)
    %td
      = link_to 'Kosár kiürítése', empty_cart_path