body{
 margin: 0px;
 font-family: Verdana,sans-serif;
 background: #006699;
}

a{
 text-decoration:none;
}

table{
 text-align:center;
 border-collapse:collapse;
 width:100%;
}

form fieldset{
 border:0px;
}

form fieldset legend{
 display:block;
 margin:0px;
 padding:0px;
 width:100%;
 font-size: 1.4em; 
 font-weight:bold;
 color:#080;
}

form .input{
 margin-top:10px;
}

form label{
 display:block;
}

#head{
 padding:10px 0px 0px 20px;
 background:#ccff99;
 overflow:hidden;
}

#head h1{
 margin:0px 40px 20px;
}

#head ul{
 list-style:none;
 margin: 10px 0px 0px;
 font-size:14px;
}

#head ul li{
 display:inline;
 border:1px solid #bbb;
 border-bottom:0px;
 margin-right:5px;
 padding:5px;
 line-height:24px;
 background:#fff;
}

#head ul li a{
}

#content{
 padding:1em 1em 5em;
 border-top:1px solid #bbb;
 background:#fff;
 overflow:hidden;
}

form.sort{
 font-size:0.8em;
 padding: 1em 0em;
 border-bottom: 1px solid #bbb;
 margin-bottom: 2em;
}

.list th{
 padding: 0.5em;
 text-align:center;
 font-size:1.2em;
 font-weight: normal;
 background:#c00;
 color:#fff;
}

.list tr.barka {
 background:#f7fbff;
}

.list tr:hover {
 background:#f7fbaa;
}

.list td{
 padding: 0.8em;
 padding-left: 1em;
}

table .modify-link{
 padding-left: 20px;
 background:url(../images/pencil.png) no-repeat center left;
}

table .delete-link{
 padding-left: 20px;
 background:url(../images/bin.png) no-repeat center left;
}

ul#categories{
 border-top: 1px solid #bbb;
 padding-top: 1em;
 font-size:1.8em;
 font-weight:bold;
 color:#090;
}

ul#categories li{
 font-size: 0.8em;
 margin:1em 0px;
}

ul#categories li a{
 font-size: 0.7em;
}

.order{
 padding:0.5em 1em;
 border: 1px solid #bbb;
 background:#f7fbff;
}

.order h3{
 font-size:1.2em;
 color:#fff;
 background:#c00;
 padding:5px 20px;
}

.order table{
 text-align:left;
}

.order th{
 font-size:1.1em;
}

.order tr.summary td{
 font-size:1.6em;
}

.order form textarea{
}

form#product #left-column{
 float:left;
 border-right:1px solid #bbb;
}

#product #right-column{
 float:left;
}

#product #pictures .picture{
 float:left;
 width:150px;
 margin: 10px;
}

#product #submit{
 clear:both;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.fieldWithErrors label{
	display:block;
	margin:0px;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.navigation{
 font-size: 1.4em;
 margin:2em;
 text-align:center;
}

.navigation a, .navigation span{
 margin:0em .5em;
 padding:5px;
 font-weight:bold;
}

.navigation span{
 color:#fff;
 background:#c00;
}

.navigation a.first, .navigation a.last{
 font-size:0.8em;
}

.navigation a.first{
 border-right:1px solid #000;
 padding-right:10px;
}

.navigation a.last{
 border-left:1px solid #000;
 padding-left:10px;
}

.navigation a:hover{
 text-decoration:underline;
}