.order-accept
  %h3= "Kedves #{@customer.address.name}!"
  %p Rendelésed rögzítettük, amelyről hamarosan e-mail-ben is értesítést kapsz. Eladóink ezt követően felveszik veled a kapcsolatot, hogy adataid egyeztessék, valamint megbizonyosodjanak a rendelés hitelességéről.

  %p Köszönjük, hogy nálunk vásároltál és további kellemes böngészést!