- form_tag(password_remember_path,{ :class => "login-or-registration"}) do
  %h4 Elfelejtetted a jelszavad! Ez a legjobbakal is megesik! Használd a jelszó visszaállítási funkciót
  %fieldset
    %legend Kérlek ehhez add meg a felhasználóneved
    .input
      =label_tag 'username', "Felhasználónevem"
      %br
      =text_field_tag 'username'
      %p Az utasításokat emailben kapod meg.
    .submit
      = submit_tag "Jelszó visszaállítása"