#left-column
  =f.error_messages
  %fieldset
    %legend Általános jellemzők
    .input
      %label{ :for => "name"} Név
      =f.text_field :name, :size => 60
    .input
      %label{ :for => "category" } Kategória
      =select_tag "product[category_id]", product_category_options_for_select(@root_categories,@product.category)
    .input
      %label{ :for => "price" } Ár 
      =f.text_field :price, :size => 10
    .input
      %label{ :for => "description" } Leírás
      =f.text_area :description, :size => "60x20"
  %fieldset#new-picture
    %legend Termékkép csatolása
    =f.file_field :image_file
  =render :partial => 'tags', :local => {:product => @product, :tags => @tags}