%h2 Termék szerkesztése
- form_for @product, :url => admin_product_path(@product), :html =>{ :id=> "product", :multipart => "true" } do |f|
  = render :partial => 'form', :locals => {:f => f, :root_categories => @root_categories, :product => @product }
  = render :partial => 'attributes', :locals => {:f => f}
  #right-column
    %fieldset#pictures
      %legend Kapcsolódó képek
      = render :partial => 'admin/products/image_on_edit.html.haml', :collection => @product.images, :as => :image, :locals => { :product => @product }
      #dialog
  #submit
    =f.submit "Mentés"