%h2 Termék szerkesztése
- form_for @product, :url => admin_products_path(), :html =>{ :id=> "product" } do |f|
  = render :partial => 'admin/products/form', :locals => {:f => f}
  #submit
    =f.submit "Mentés"