%form#sort
  %select{:name => "sort_by"}
    = options_for_select([["Név szerint","name"],["Ár szerint","price"]], params[:sort_by])
  %input#submit{:type=> "submit", :value=>"Rendezd"}

= render :partial => 'products/table_list', :object => @products