=f.error_messages

=f.label :username, "Felhasználónév"
=f.text_field :username

=f.label :password, password_label
=f.password_field :password

=f.label :password_confirmation, password_confirmation_label
=f.password_field :password_confirmation