.product
  %h3= product.name
  = image_for_product(product) unless product.images.empty?
  .details
    %p.price
      = price_for_product(product)
  .commands
    = link_to "Megnézem", product_path(product)
    %a{ :href=>"show-cart.html" } Kosárba vele!