.product
  %h3= product.name
  = sample_image_for_product(product) unless product.images.empty?
  .details
    %p.price
      = price_for_product(product)
  .commands
    = render :partial => 'products/commands', :locals => {:product => product}