.product
  = product_sample_image_url(product)
  %h3= product.name
  .details
    %p.price
      = price_for_product(product)
  .commands
    = render :partial => 'products/commands', :locals => {:product => product}