<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Webshop Adminisztrációs Felülete</title>

   <%= stylesheet_link_tag 'admin' %>
</head>
<body>
<div id="head">
  <h1> Adminisztráció</h1>
  <ul>
    <li><%= link_to 'Rendelések', admin_orders_path() %></li>
    <li><a href="categories.html">Termék kategóriák</a></li>
    <li><a href="products.html">Termékek</a></li>
    <li>Felhasználók</li>
  </ul>
</div>
<div id="content">
  <%= yield %>
</div>