<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Webshop<% %></title>

   <!-- Homepage CSS -->
   <%= stylesheet_link_tag 'site.css' %>
</head>
<body>
  <div id="head">
    <h1><%= link_to 'Webshop', root_path %></h1>
    <ul>
      <li class="user"><a href="login-or-registration.html">Bejelentkezés vagy Regisztráció</a></li>
      <li class="info"><a href="">Vásárlási információk</a></li>
      <li class="about"><a href="">A boltról</a></li>
    </ul>
  </div>

  <div id="main">
    <div id="search">
      <h2>Keresés</h2>
      <form action="search.html">
        <input type="text" />
        <input type="submit" value="Keresés" />
      </form>
    </div>
    <div id="leftcolumn">
      <h2>Kategóriák</h2>
      <ul id= "cat-list">
      <%  @root_categories.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
    	<% end %>
    	</ul>
    </div>
    <div id="middlecolumn">
      <%= yield :layout %>
    </div>
  </div>
</body>
</html>
